*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    min-width: 320px;
    font: normal #{$fontSize-small}/#{$lineHeight-base} $font-base;
    color: $grey--text;

    @media #{$large-up} {
        font-size: $fontSize-base;
    }
}
a {
    color: $red;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
h1, h2, h3, h4 {
    margin: 0 0 20px;
    font-weight: normal;
    line-height: 1.2;
}
h1 {
    font-size: $fontSize-xlarg;
}
h2 {
    font-size: $fontSize-largest;
}
h3 {
    font-size: $fontSize-large;

    @media #{$large-up} {
        font-size: $fontSize-larger;
    }
}
h4 {
    font-size: $fontSize-large;
}
p {
    margin: 0 0 .5em;
}
p:last-child,
ul:last-child {
    margin-bottom: 0;
}
code {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    color: #905;
}
.codeFormatting {
    font-size: $fontSize-smallest;
    background: none;

    @media #{$medium-up} {
        font-size: $fontSize-smaller;
    }
    @media #{$large-up} {
        font-size: $fontSize-small;
    }
}
/*  Fixing Prism styles */
code[class*="language-"],
pre[class*="language-"] {
    padding: 0;
    background: none;
    white-space: pre-wrap;
}
