//Colours should always be rgb or rgba and only appear in this colours.css.scss

$white: #fff;
$black: #000;
$black--transparent30: rgba(0,0,0,.3);

$grey: #d9d9d9;
$grey--dark: #333;
$grey--light: #f4f4f4;
$red: #e82121;
