//Font sizes must NEVER be used anywhere than type.css.scss
@font-face {
    font-family: 'philosopherregular';
    src: url('../fonts/philosopher-regular-webfont.eot');
    src: url('../fonts/philosopher-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/philosopher-regular-webfont.woff2') format('woff2'),
    url('../fonts/philosopher-regular-webfont.woff') format('woff'),
    url('../fonts/philosopher-regular-webfont.ttf') format('truetype'),
    url('../fonts/philosopher-regular-webfont.svg#philosopherregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

//FONT FAMILIES
$font-base: 'philosopherregular', sans-serif;

//FONT SIZES
$fontSize-smallest: 12px;
$fontSize-smaller: 14px;
$fontSize-small: 16px;
$fontSize-base: 20px;
$fontSize-large: 25px;
$fontSize-larger: 35px;
$fontSize-largest: 50px;
$fontSize-xlarg: 60px;

//LINE HEIGHTS
$lineHeight-tightest: 1.2;
$lineHeight-tighter: 1.3;
$lineHeight-tight: 1.4;
$lineHeight-base: 1.5;
$lineHeight-loose: 1.6;
$lineHeight-looser: 1.7;
