.sectionTitle {
    padding: 30px 20px 10px;
    color: $red;
    background: $grey;

    @media #{$large-up} {
        padding: 60px 60px 50px;
    }
}
.sectionRow {
    border-bottom: 1px solid $gray--border;

    @media #{$large-up} {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}
.sectionRow-column {
    padding: 20px;
    & + .sectionRow-column {
        background: $grey--light;
    }

    @media #{$large-up} {
        display: table-cell;
        padding: 60px;
    }
}