.siteNavigation {
    position: relative;

    @media #{$large-up} {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}
.siteNavigation-item {
    padding: 20px;
    line-height: 1.2;

    & + .siteNavigation-item {
        background: $grey--light;
    }
    & a {
        display: inline-block;
        &:hover {
            text-decoration: underline;
        }
    }
    & > a {
        margin-bottom: 20px;
    }
    @media #{$large-up} {
        display: table-cell;
        padding: 60px;
    }
}
.siteNavigation-item-subNav {
    padding-left: 10px;
    & ul {
        padding-left: 20px;

        @media #{$large-up} {
            padding-left: 60px;
        }
    }
    & a {
        padding: 5px 0;
    }
}
