.siteHeader {
    position: relative;
    padding: 60px 20px;
    text-align: center;
    color: $white;
    background: url("../images/header-bg.jpg") $grey--dark no-repeat center;
    background-size: cover;
    box-shadow: 0 1px 2px $grey--dark;

    h1 {
        position: relative;
        z-index: 2;
    }
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: $black--transparent30;
    }
}
